*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

/* Animation Keyframes */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-one: rgba(40, 40, 40, 0.269);
    --clr-two: rgba(255, 255, 255, 0.9);
    --clr-accent: #fce303;
    --clr-glass: rgba(255, 255, 255, 0.1);
    --clr-glass-border: rgba(255, 255, 255, 0.2);
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0 8px 32px 0 rgba(111, 111, 111, 0.6);
    --glass-effect: backdrop-filter: blur(4px);

    --item-background: linear-gradient(120deg, rgba(161, 161, 160, 0.9) 0%, rgba(100, 100, 100, 0.9) 80%);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }


}

@media (max-width: 800px) {
    body {
        justify-content: center;
        text-align: center;
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    /* background: linear-gradient(75deg, #c0c0a3 0%, #494949 100%); */
    background: -webkit-linear-gradient(120deg, #a8a8a6 0%, #0d0d0d 100%);
    background: -moz-linear-gradient(120deg, #a8a8a6 0%, #0d0d0d 100%);
    background: -o-linear-gradient(120deg, #a8a8a6 0%, #0d0d0d 100%);
    background: linear-gradient(120deg, #a8a8a6 0%, #0d0d0d 100%);
    background-attachment: fixed; /* Ensures the gradient covers the entire viewport */
    color: var(--clr-two);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    min-height: 100vh;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-one);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    align-self: center;
    margin: .5rem;
    outline: 1px solid var(--clr-accent);
    border-radius: 20px;
}

.btn:hover {
    transition: .3s ease;
    background-color: transparent;
    color: var(--clr-accent);
}

.btn-alt {
    display: inline-block;
    padding: .5em 2.5em;
    background: transparent;
    color: var(--clr-accent);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    align-self: center;
    margin: .5rem;
    outline: 1px solid var(--clr-accent);
    border-radius: 20px;
}

.btn-alt:hover {
    transition: .3s ease;
    background-color: var(--clr-accent);
    color: var(--clr-one);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title {
    margin-bottom: .25em;
    font-weight: var(--fw-reg);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}
/* header */
.logo {
    color: var(--clr-accent);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    margin:0 3rem;
}

.nav {
    top: -100px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    width: 100%;
    color: var(--clr-two);
    position: fixed;
    z-index: 3;
    border: 1px solid var(--clr-glass-border);
    border-radius: 10px;
    transition: ease .3s;
    align-items: center;
    padding: 0;
    box-shadow: var(--bs);
}

.nav__link {
    text-decoration: none;
}

a:focus {
    outline: none;
}

.hover-underline-animation {
    position: relative;
    color: var(--clr-accent);
}
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--clr-accent);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*  Intro section  */

.intro {
    display: grid;
    grid-template-columns: 2fr 3fr; /* Allocate more space for the text column */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center the entire grid horizontally */
    gap: 4em; /* Space between columns */
    animation: fadeInUp 1s ease-out 0.3s both;
}

.intro-content {
    order: 2; /* Ensure content comes first in the HTML flow (for accessibility) */
}

.intro__img {
    order: 1; /* Image will be placed second */
    max-width: 60%;
    height: auto;
    justify-self: end; /* Align image to the end of the grid column */
    border-radius: 50%; /* Rounded image */
    filter: contrast(1.25);
    box-shadow: var(--bs);
}

.intro-name {
    font-size: var(--fs-h1);
    color: var(--clr-accent);
}

.intro-links {
    margin: 0px;
    margin-right: 1rem;
}

@media (max-width: 800px) { /* Adjust breakpoint as needed */
    .intro {
        grid-template-columns: 1fr; /* Stack items on top of each other on smaller screens */
        text-align: center !important; /* Center the text for smaller screens */
    }

    .intro-content,
    .intro__img {
        order: 0; /* Reset the order for stacking */
    }

    .intro__img {
        justify-self: center; /* Center the image on smaller screens */
        width: 80%; /* Adjust the width to fit the screen */
        margin: 0 auto; /* Additional centering for the image */
    }
}

/*  Body section  */

.body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center; /* Center the entire grid horizontally */
    align-items: start; /* Align the grid items to the top */
    padding: 2rem;
    margin: auto; /* Additional centering */
    animation: fadeInUp 1s ease-out 0.6s both;
}

.body-tabs {
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    justify-self: end;
    padding: 1rem;
}

.tab-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.tab {
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.tab.active {
    color: var(--clr-two);
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: none;
    box-shadow: var(--bs);
}

.body-content {
    padding-left: 2rem;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: none;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: var(--bs);
}

.content-item {
    display: none;
}

.content-item.active {
    display: block;
    animation: fadeInUp 0.5s ease-out;
}

@media (max-width: 800px) {
    .body {
        display: block;
        justify-content: center; /* Center the entire grid horizontally */
        align-items: start; /* Align the grid items to the top */
        padding: 2rem;
        margin: auto; /* Additional centering */
    }

    .tab-list {
        flex-direction: row; /* Make tabs horizontal */
        justify-content: center; /* Center tabs if needed */
        flex-wrap: wrap; /* Wrap tabs to new line if they don't fit */
    }

    .tab {
        margin-right: 0.5em; /* Add space between tabs, adjust as needed */
        margin-bottom: 0; /* Remove bottom margin if set in default */
        padding: 1rem;
    }

}


/* Education */

.body-list {
    list-style-type: none; /* Removes default list styling */
    padding-left: 0; /* Removes default padding */
}

.body-item {
    margin-bottom: 1.5rem; /* Increased space between education entries */
    padding: 1.5rem;
    background: var(--item-background);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    box-shadow: var(--bs);
    transition: all 250ms ease;
}

.body-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(252, 227, 3, 0.3);
}

.body-item li:hover {
    color: var(--clr-accent);
    transform: translateX(5px);
    transition: all 0.2s ease;
}

.sub-heading {
    font-weight: var(--fw-reg);
}

.heading {
    display: block; /* Puts the degree on a new line */
    font-weight: var(--fw-reg);
    color: var(--clr-accent);
    padding-bottom: 0.5rem;
}

.dates,
.location,
.grade {
    display: block; /* Puts dates and location on new lines */
    font-style: italic;
    font-size: .9rem;
}

.detail-title {
    padding-top: 1rem;
    font-size: .9rem;
    margin: 0;
}

.detail {
    list-style-type: circle; /* Adds bullet points */
    padding-left: 3rem; /* Indentation for the coursework list */
    font-size: .9rem;
}

@media (max-width: 800px) {
    .dates,
    .location {
        display: inline; /* Puts dates and location on new lines */
        font-style: italic;
        font-size: .8rem;
    }

    .detail {
        list-style-type: none;
        padding: 0;
        font-size: .9rem;
    }
}

/* Project Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(160, 162, 140, 0.8); /* Black background with opacity */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: var(--clr-two);
    margin: 5% auto; /* Adjusted for better visibility */
    padding: 2rem;
    gap: 2rem;
    width: 80%; /* Adjust width as needed */
    display: flex; /* Make this a flex container */
    align-items: flex-start; /* Align items to the start of the flex container */
    position: relative; /* For absolute positioning of the close button */
    border-radius: 20px;
}

.close-button {
    color: var(--clr-accent);
    position: absolute; /* Absolute positioning to place it on the top right corner */
    top: 10px; /* Adjust as needed */
    right: 15px; /* Adjust as needed */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: var(--clr-one);
    text-decoration: none;
}

.modal-img {
    max-width: 30%; /* Increase the width of the image */
    height: auto;
    margin-right: 20px; /* Add some space between the image and the text */
    box-shadow: var(--bs);
    object-fit: cover; /* Ensure the image covers the area without distorting */
    flex: 1; 
}

/* Style adjustments for the text content to take remaining space */
.text-content {
    width: 50%;
    color: var(--clr-two);
    /* Allow the text content to fill the remaining space */
}

/* Ensure modal content does not overflow the viewport */
@media (max-width: 768px) {
    .modal-content {
        flex-direction: column; /* Stack image and text vertically on smaller screens */
    }
    .modal-img {
        max-width: 100%;
        margin-bottom: 20px; /* Add space between the image and text */
    }
    .text-content {
        max-width: 100%;
    }
}


.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-section-heading {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
}

.modal-content {
    background-color: var(--clr-two);
    margin: 5% auto; /* Adjusted for better visibility */
    padding: 2rem;
    gap: 2rem;
    width: 80%; /* Adjust width as needed */
    display: flex; /* Make this a flex container */
    align-items: flex-start; /* Align items to the start of the flex container */
    position: relative; /* For absolute positioning of the close button */
    border-radius: 20px;
    background: rgba(115, 114, 114, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: none;
    box-shadow: var(--bs);
}

.modal-title {
    color: var(--clr-accent);
    text-shadow: 0 0 8px rgba(252, 227, 3, 0.4);
    margin-bottom: 15px;
    font-size: 2rem;
}

.modal-subtitle {
    margin: 0;
    font-size: var(--fs-h3);
    padding-bottom: 1rem;
    line-height: 1.75rem;
}

.modal-link {
    font-style: italic;
    color: var(--clr-one);
    text-decoration: none;
    border-bottom: 1px dashed var(--clr-one);
}

.modal-link:hover {
    color: var(--clr-accent);
    border-bottom: 1px solid var(--clr-accent);
    transition: ease .3s;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: rgba(252, 227, 3, 0.15);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    overflow: hidden;
    margin: 1rem;
    position: relative;
    height: 175px;
    align-self: center;
    transition: all 250ms linear;
    border-radius: 20px;
    border: none;
    box-shadow: var(--bs);
}

.portfolio__img {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: .7;
    border-radius: 15px;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
    box-shadow: 0 0 20px rgba(252, 227, 3, 0.5);
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.1);
    opacity: .9;
}

.portfolio__item:hover {
    box-shadow: 0 0 25px rgba(252, 227, 3, 0.6);
    border: none;
    transform: translateY(-5px);
}

.portfolio__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: var(--clr-accent);
    padding: 15px;
    text-align: center;
    font-weight: bold;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: none;
}




/* Skills */

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
    justify-content: space-between;
}

.skill-category {
    flex: 1;
    min-width: 250px;
    background: var(--item-background);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: none;
    border-radius: 20px;
    padding: 1.5rem;
    transition: all 250ms linear;
    box-shadow: var(--bs);
}

.skill-category:hover {
    box-shadow: 0 0 25px rgba(252, 227, 3, 0.6);
    border: none;
    transform: translateY(-5px);
}

.skill-name {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    margin-bottom: 1rem;
    text-align: center;
}

.skill-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skill-list li {
    font-size: var(--fs-body);
    color: var(--clr-two);
    padding: 0.2rem 0;
    transition: all 0.2s ease;
}

.skill-list li:hover {
    color: var(--clr-accent);
    transform: translateX(5px);
    transition: all 0.2s ease;
}

/* Social */

.social-list__link:hover {
    opacity: .7;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
    color: var(--clr-accent);
}

.social-list__link {
    background: transparent;
    color: var(--clr-accent);
    text-align: center;
    font-size: var(--fs-h3);
    padding: 0 .5em;
    transition: all 0.3s ease;
}

.social-list__link:hover {
    transform: translateY(-3px);
    text-shadow: 0 0 15px rgba(252, 227, 3, 0.7);
}
